* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: rgb(124, 238, 247);
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    height: 100vh;
    justify-content: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 200px;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card .tasa-title {
    color: #555;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card .tasa-value {
    color: #000;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card .fecha {
    font-size: 1em;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#creditos {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    bottom: 10px;
    color: #666;
    font-size: 0.9em;
    padding: 4px 8px;
    position: fixed;
    right: 10px;
}

#creditos span {
    display: block;
    margin: 5px;
    text-align: center;
}

#creditos a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

#creditos a:hover {
    color: #0056b3;
    text-decoration: underline;
}

#loader {
    align-items: center;
    background: rgba(255, 255, 255);
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.spinner {
    animation: spin 1s linear infinite;
    border: 6px solid #ccc;
    border-radius: 50%;
    border-top-color: #007bff;
    height: 50px;
    width: 50px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#no-disponible {
    align-items: center;
    background: rgba(255, 255, 255);
    color: red;
    display: none;
    font-size: 2em;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999;
}

@media (min-width: 600px) {
    .container {
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }

    .card {
        flex: 1;
        max-width: 400px;
    }
}

@media (max-width: 600px) {
    .card .tasa-title {
        font-size: 1.2em;
    }

    .card .tasa-value {
        font-size: 2em;
    }

    .card .fecha {
        font-size: 0.9em;
    }
}
